<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(yield(:title) || "LinkedIn on Rails") %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= yield(:head) %>
</head>
<body>
  <div id="container">
	<div id="user_nav">
		<% if controller.controller_name == 'users' &&  controller.action_name == 'new'%>
		  <!-- <%= link_to "Register", new_account_path %> | -->
		<% elsif controller.controller_name == 'user_sessions' &&  controller.action_name == 'new'%>
		  <!--  -->
		<% elsif !current_user %>
		  <%= link_to "Code", "http://github.com/datawrangling/linkedin_on_rails" %> |
		  <%= link_to "LinkedIn API", "http://developer.linkedin.com/community/apis" %> |
		  <%= link_to "Log In", new_account_path %>
		<% else %>
		  <%= link_to "Code", "http://github.com/datawrangling/linkedin_on_rails" %> |
		  <%= link_to "LinkedIn API", "http://developer.linkedin.com/community/apis" %> |
		  <%= link_to "My Profile", account_path %> |
		  <%= link_to "Logout", logout_path %>
		<BR>
			
		<% end %>	
	</div>
	<p style="color: green"><%= flash[:notice] %></p>	
    <%= yield  %>
  </div>	

</body>
</html>
